  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  html, body {
    overflow-x: hidden;
  }

  .toggle-button-victor{
    border: none;
    background: transparent;
    font-size: 2em;
    font-weight: 800;
    cursor: pointer;
}
.toggle-button-victor-dark{
color: #ffffff;
}
.toggle-button-victor-light{
color: #000000;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    z-index: 9000000;
    padding: 2em 2.5em;
  }

  
  .button {
    border: none;
    background: transparent;
    font-size: 2em;
    font-weight: 800;
    cursor: pointer;
  }
  
  h2 {
    font-size: 4em;
    font-weight: 800;
    margin: 0 0 3em 0;
    opacity: 0;
    cursor: default;
  }
  
  .wrapper h3 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 3em 0 0 0;
    letter-spacing: 0.1em;
    padding: 0 0 0.2em 0;
    display: inline-flex;
    cursor: default;
  }
  .contactWrapper h2{
    margin: 0 0 1.7em 0;
  }
  .contactWrapper h3{
    margin: 1.7em 0 0 0;
  }
  .line-w {
    border-bottom: 0.125em solid #ffffff;
  }
  
  .line-b {
    border-bottom: 0.125em solid #000000;
  }
  
  h4 {
    font-size: 3.8em;
    font-weight: 700;
    margin: 2em 0 0 0;
    cursor: default;
    text-transform: capitalize;
  }
  
  h5 {
    margin: 1em 0 0 0;
    font-size: 1em;
    font-weight: 600;
    cursor: default;
  }
  
  p {
    cursor: default;
    animation: wrapper 0.5s 0.3s ease-in forwards;
    max-width: 70em;
    line-height: 1.8em;
  }
  
  .btn {
    margin: 5em 0;
  }
  
  .resumebtn-w {
    border: 0.6em solid #ffffff;
    background-color: #ffffff;
    color: #000000;
  }
  
  .resumebtn-b {
    border: 0.6em solid #000000;
    background-color: #000000;
    color: #ffffff;
  }
  
  .resumebtn {
    border-radius: 0.3em;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: underline;
  }
  
  .resumebtn-b:hover {
    opacity: 0.7;
  }
  
  .resumebtn-w:hover {
    border: 0.6em solid #dfdfdf;
    background-color: #dfdfdf;
  }
  
  ul li:hover {
    color: #e90f1f;
  }
  
  .wrapper {
    padding: 3em
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .pointer {
    cursor: pointer;
  }

  li {
    margin: 1.3em 0;
    list-style: none;
    font-size: 1.4em;
    font-weight: 600;
  }
  
  .img {
    width: 35em;
    overflow-y: hidden;
    height: 35em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4em 0;
  }
  
  .contact-p {
    padding: 3em 0 0 0;
  }
  
  @media (max-width:991px) {
    .toggle-button-victor{
      font-size: 1.5em;
  }
    h2{
      font-size:3em ;
      margin: 0 0 2em 0;
    }
    .wrapper h3 {
      font-size: 2em;
    }
    .contactWrapper h2{
      margin: 1em 0 1em 0;
    }
    .contactWrapper h3{
      margin: 1.7em 0 0 0;
    }
    
    h4 {
      font-size: 2.5em;
    }
    
    h5 {
      font-size: 0.7em;
    }
    
    p {
      min-width: 1em;
      padding: 3em 1em 1em 0;
      line-height: 1.5em;
    }
    .contact-p {
      min-width: 1em;
      padding: 2em 1em 3em 0;
    }
    .img{
      width: 30em;
      height: 30em;
      margin: 2em 0;
    }
    .btn {
      margin: 2em 0;
    }
  }
  